INCLUDE sim.general-config
INCLUDE sim.stat-config

INCLUDE sim.mac-config
INCLUDE sim.channpara-config
INCLUDE sim.phy-config

INCLUDE sim.net-config
INCLUDE sim.trans-config

INCLUDE satlink.topconfig
INCLUDE GroundSat.top-config
FAULT-CONFIG-FILE GroundSat.fault
APP-CONFIG-FILE Scenario.app
INCLUDE Scenario.nodeconfig
MOBILITY-POSITION-GRANULARITY 200


